<navbar class='ui blue stackable menu'>
	<a class='header item'>AmbiLamp</a>
	
	<a href='/' id='nav_home' class='active item'>Home</a>
	<a href='/details' id='nav_details' class='item'>Details</a>
</navbar>
